.App {
  min-width: 300px;
  padding: 50px 10px;;
  background: rgb(255, 250, 243);
  text-align: center;
  color: rgb(105, 88, 68);

  h1 {
    margin-top: 0;
    font-size: 2rem;
  }
}

h1, h2 {
  color: rgb(105, 88, 68);
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.created {
  color: rgb(107, 92, 79);
  font-style: italic;
  font-size: 0.675rem;
}

article {
  width: calc(100% - 2.5rem);
  max-width: 600px;
  margin: 0 auto 50px;
  padding: 1.25rem;
  background: rgb(235, 224, 214);
  border: 1px solid rgb(209, 196, 183);
  border-radius: 0.875rem;
  box-shadow: inset 0 0 40px rgba(184, 169, 157, 0.5);
  position: relative;
  z-index: 1;


  .delete {
    font-weight: bold;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    transition: color 0.25s linear;
    
    &:hover {
      color: #f00;
    }
  }

  form {

    input, textarea {
      $width: 100%;
      width: $width;
      min-width: $width;
      max-width: $width;
      padding: 0.5rem;
      font-size: 0.875rem;
      border: 1px solid rgb(209, 196, 183);
      border-radius: 8px;
      box-shadow: inset 0 0 10px rgba(221, 212, 201, 0.7);

      &::placeholder {
        color: rgb(201, 185, 170);
      }
    }

    input {
      margin-bottom: 10px;
    }

    .grouping {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;
    }

    textarea {
      $width: 80%;
      margin-right: 0.875rem;
      width: $width;
      min-width: $width;
      max-width: $width;
    }
    
    button {
      width: 20%;
      background: orange;
      color: #fff;
      font-weight: bold;
      font-size: 1rem;
      display: block;
      appearance: none;
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.25s linear;

      &:hover {
        background: darkorange;
        opacity: 1;
      }
    }
  }

  .edit, .cancel {
    $border: 1px solid rgb(209, 196, 183);
    padding: 4px 10px;
    background: rgb(238, 223, 211);
    font-size: 0.875rem;
    position: absolute;
    top: -27px;
    right: 20px;
    z-index: 0;
    border-left: $border;
    border-top: $border;
    border-right: $border;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
    // opacity: 0;
    transition: opacity 0.25s linear;
  }

  .cancel {
    $color: #aaa;
    background: rgba(200,200,200,0.25);
    color: $color;
    border-left-color: $color;
    border-top-color: $color;
    border-right-color: $color;
  }

  &:hover {

    .edit {
      opacity: 0.7;
    }
  }

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1rem;
  }
}